{% extends 'base.html' %}
{%load crispy_forms_tags%}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}EJBC Home Page - Profile Page{% endblock %}</title>
</head>
{% block content %}
{%if user.is_authenticated%}
    <h2 class="title-page">Profile</h2>
    <div class = "profile">
        <h1>Username: {{user.username}} </h1>
        <h1>Card No: {{user.profiles.card_no}}</h1>
        <!-- {{ user.profiles.profileimages.image}} -->
        <form method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
          </form>
        <a class="logout-link" href = "{%url 'bank-logout'%}">Log out</a>
    </div>
{%else%}
<a href= "{%url 'bank-login'%}">You must log in to your account <span>Login</span></a>
{%endif%}
{% endblock %}